/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&family=Rubik:wght@400;500&display=swap'); */

/* @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap'); */
 @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700;800;900&family=Poppins:wght@100;200;300;400;500&display=swap');
 /* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap'); */

body,
html {
	overflow-x: hidden !important;
	margin: 0px!important;
	padding: 0px!important;
	text-decoration: none;
	outline: none;
	box-sizing: border-box;
	list-style: none!important;
	-webkit-font-smoothing: antialiased;
	scroll-behavior: smooth;
	font-family: 'Poppins','Playfair Display', sans-serif;
	line-height: 1.6;
}

/*======define the color veriable-==========*/
:root {
	--base-color: #fff;
	--button-colo: #d53f34;
	--text-primery: #222222;
	--text-secondery: #e5ac1b;
	--dark-color: #2f3a51
}
* a,.top{
	text-decoration: none;
	transition: all .3s ease-in-out 0s;
	color: inherit;
	cursor: pointer
}
* img{
	max-width: 100%;
	transition: .5s ease-in-out;
	height: auto;
}
.c-red{
	color:var(--button-colo)
}
* h2{
    font-size: clamp(2.2rem, 5vw, 3.8rem);
    font-weight: 700;
    font-family: "Playfair Display";
}
.mt-30{
	margin-top:max(5.9vw, 3rem)
}

/*====slider======css===Start===*/
.swiper {
	width: 100%;
	height: inherit;
}

.swiper-slide {
/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}


/*====slider======css===END===*/

/*=======top--menu===start====*/
.navbar{
	background-color: var(--button-colo);
	padding-block:0px!important;
	height: 75px;
}
.navbar-nav .nav-link {
	color: var(--base-color);
	font-weight: 500;
	text-transform: uppercase;
    font-size: .90em;
    margin: 0px max(1vw, 0.3rem, 0.5rem);
    z-index: 9;
    align-items: center;
    flex: 1;
    padding-block: 1.7rem;
    padding-inline: 0px!important;
    position: relative;
}
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active,
.navbar-nav .nav-link:focus {
	color:var(--bs-dark-blue);
}
.navbar-nav .nav-link span::after {
	content: "";
    position: absolute;
    bottom: -2px;
    left: auto;
    width: 0px;
    transition: all .6s ease-in-out;
    background: var(--base-color);
    height: 2px;
    right: 0;
}
.navbar-nav .nav-link:hover span:after {
	width: 100%;
    right: auto;
    left: 0;
}


/*==============navbar-fixed==============*/
.fixed-top {
	position: fixed;
	top: 0;
	width: 100%;
	animation: smoothScroll .8s forwards;
	z-index: 9;
	-webkit-transition: 1.3s cubic-bezier(0.17, 0.85, 0.438, 0.99);
	-webkit-box-shadow: 0 4px 6px 0 rgb(12 0 46 / 8%);
	box-shadow: 0 4px 6px 0 rgb(12 0 46 / 8%);
	animation: smoothScroll .8s forwards;
	background-color:var(--button-colo)
}
@keyframes smoothScroll {
	0% {
		transform: translateY(-50px);
	}
	100% {
		transform: translateY(0px);
	}
}

/*===================button==================*/
.donate-btn,
.caption-banner .caption-btn a,
.about-text .main-button,
.fund-text a,
.send,
.how-to-help .tab-content a,
.submit{
	border: 1px solid #f8f9fa;
    font-size: clamp(.88em, 2vw, 1em);
    transition: all .6s ease-in-out 0s;
    font-weight: 400;
    padding: 0.64rem max(3.1vw, 1rem);
    border-radius: 80px;
    letter-spacing: .5px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}
.donate-btn:hover
{
	background-color: transparent;
}
.donate,
.donate-btn{
	background: var(--base-color);
    color: var(--button-colo);
    box-shadow: inset 2px 0px 15px -2px #dc354591;
}
.donate:hover{
	color: var(--base-color);
	box-shadow: inset 60px 0px 15px -2px var(--button-colo),
	 			inset -60px 0px 15px -2px var(--button-colo),
				inset 0px 60px 15px -2px var(--button-colo),
				inset 0px -60px 15px -2px var(--button-colo);
}


/*===============mobile=menu=========start========*/
.offcanvas.show .navbar-nav .nav-link {
	display: flex;
	padding: 5px 10px;
}
.carousel-item img {
	transition: all .6s ease-in-out 0s;
	height: max(50vmin, 40vw, 20rem);
	object-fit: cover;
}
.carousel-item {
	position: relative;
}
.carousel-item.active img {
	transform: scale(1.1);
}
.carousel-indicators [data-bs-target] {
	background: transparent;
	border: 0px solid var(--dark-color);
	color: var(--dark-color);
	padding: 0.2em;
	border-radius: 50px;
	text-indent: 0 !important;
	width: 20px;
	height: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 12px;
	font-weight: 500;
	flex-flow: column;
}
.carousel-indicators [data-bs-target].active {
	background: transparent;
	border: 2px solid var(--button-colo);
	color: var(--button-colo);
}
.carousel-indicators {
	right: 0px !important;
	left: auto;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	top: 0;
	gap: max(1vw, 2px)
}
.caption-banner {
	position: absolute;
	width: min(38rem, 50%, 43vmax);
	left: max(8vw, 2rem);
	top: 0;
	color: var(--base-color);
	font-weight: normal;
	display: flex;
	justify-content: center;
	bottom: 0;
	flex-flow: column;
	z-index: 1;
}
.caption-banner h5{
	font-size: clamp(.65em, 1.5vw, 1rem);
}
.caption-banner .caption-text h2 {
	font-size: clamp(1.6rem, 5.5vw, 4rem);
	color: var(--base-color);
	font-weight: max(900, 600);
	letter-spacing: .1px;
	padding-bottom: .4em;
	border-bottom: 1px solid var(--base-color);
	width:fit-content!important;
	font-family: "Playfair Display";
}
.caption-banner .caption-btn a:nth-child(2),
.how-to-help .tab-content a,
.fund-text a {
	background-color: var(--text-secondery);
	border: 1px solid var(--text-secondery)
}
.caption-banner .caption-btn a:nth-child(2):hover,
.how-to-help .tab-content a:hover,
.fund-text a:hover {
	color: var(--text-secondery);
	background-color: transparent;
}
.caption-banner .caption-btn a:first-child,
.donate-f-btn {
	color: var(--dark-color);
	border: 1px solid var(--dark-color);
	margin-right: 1.2rem;
}
.caption-banner .caption-btn a:first-child:hover,
.donate-f-btn:hover {
	background: var(--dark-color);
	color: var(--base-color);
}
.trused-person {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	gap: max(1vw, .2em)
}
.donted-person .frist-person {
	background-color: var(--base-color);
	border-radius: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	gap: max(1vw, .4rem)
}
.person_donted_amount span {
	padding: .5rem 1rem;
	background: var(--button-colo);
	border-radius: 5px;
	text-align: center;
	color: var(--base-color);
	position: relative;
}
.person_donted_amount span:before {
	content: '';
	position: absolute;
	border: 10px solid var(--dark-color);
	width: 20px;
	border-top: 5px solid transparent;
	border-left: 8px solid transparent;
	border-right: 1px solid transparent;
}

/*================Get-invoved========*/
.get-invoved-grid{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(max(9vw, 11.5em), 1fr));
}
.frist-involved{
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
	padding:3vw;
	font-weight: 400;
	min-height: 200px;
}
.frist-involved svg{
	width: 85px;
	fill: #41464b91;
	height: 85px;
}
.frist-involved a{
	font-weight: 400;
	font-size: clamp(1.2em, 2vw, 1.5rem);
	color:var(--base-color);
	
}
.frist-involved:first-child
{
	background-color: rgb(34, 34, 34 25%);
	grid-column: 270px;
	justify-content: center!important;
}
.frist-involved:first-child h3{
	font-weight: 700;
	color:var(--dark-color);
	font-size: clamp(1.3em, 3vw, 2rem)
}
.frist-involved:first-child h5{
	font-weight: 600;
	border-bottom:5px solid var(--button-colo);
	padding-bottom:max(1.2vw, .7rem);
	width: fit-content;
}
.frist-involved:nth-child(2),
.invoved-about .frist-involved:nth-child(2):hover{
	background-color: var(--button-colo)!important;
}
.frist-involved:nth-child(3),
.invoved-about .frist-involved:nth-child(3):hover{
	background-color: var(--text-primery)!important;
}
.frist-involved:nth-child(4),
.invoved-about .frist-involved:nth-child(4):hover{
	background-color: var(--text-secondery)!important;
}

/*===============about-text==================*/

.about-text{
	flex-flow:column;
	display: flex;
	justify-content: flex-start;
	gap: 10px;
	font-weight: 300;
}
.about-text h2{
	color:var(--dark-color);
	margin-bottom: 1rem;
}
.about-text p{
	font-weight: 300;
	text-align: justify;
	font-size: .90rem;
	line-height:1.7;
	padding-right:1rem;
}
.about-text .main-button{
	background-color:var(--dark-color);
	width: fit-content;
	color:var(--base-color);	
}
.about-text .main-button:hover{
	background-color: transparent;
	color:var(--dark-color);
	border-color:var(--dark-color):
}

.sub-heading small{
	font-size: 1.3rem;
	font-weight: 600;
	padding-bottom: .6rem;
	position: relative;
	margin-bottom: .8rem;
	color: var(--button-colo);
	display: block;
}
.sub-heading small::after{
	content:'';
	position: absolute;
	left:0;
	bottom:0;
	height:3px;
	width:30px;
	background: var(--button-colo);
}

.how-to-help{
	background-image: url(https://charitywp.thimpress.com/free-education/wp-content/uploads/sites/13/2021/12/black_boy_16112021.jpg);
    background-position: top center;
    background-repeat: no-repeat;
	padding-block:7vw;
	text-align:center
}
.how-to-help .nav.tab{
	justify-content:space-between;
	margin-top:max(3vw, 1.4em)
}
.how-to-help .nav.tab li a{
	font-size:clamp(1em, 1.5vw, 1.2rem);
	font-weight:500;
	color:var(--button-colo);
	margin-bottom: max(2vw, 1.2rem);
	display: block;
}
.how-to-help .nav.tab li a.active{
	text-decoration:underline!important;
	font-weight:600;
}
.how-to-help .tab-content p{
	line-height: max(2.1vw, 1.4rem);
    font-size: clamp(.90em, 1vw, 1em);
    color: var(--dark-color);
}
.how-to-help .tab-content a{
	margin-top:max(1.8vw, .8rem)
}

	

/*=======project==============*/
.top-heading h2,
.partner-heading h2 {
	margin-bottom: 2.4vw
}

.Projects_grid,
.grid-blog,
.Help_us_grid{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax( max(22vw, 250px), 1fr));
	gap: max(1.5vw, .5rem)
}
.Projects_grid .project-box {
	padding: max(2.9vw, .9rem);
	max-height: 300px;
	overflow-y: hidden;
	transition: all .45s linear;
	position: relative;
}
.Projects_grid .project-box::before {
	content: "";
	inset: 0;
	opacity: 0.15;
	position: absolute;
	visibility: visible;
	z-index: -1;
	min-height: 100%;
}
.Projects_grid .project-box:hover figure {
	transform: translateY(-150%);
}
.Projects_grid .project-box:hover .text-project {
	transform: translateY(-50%);
	color: var(--base-color)
}
.Projects_grid .project-box:hover .hidden-content {
	transform: translateY(-200%);
}
.Projects_grid .project-box .hidden-content {
	transform: translateY(150%);
	transition: all .45s linear;
}
.Projects_grid .project-box .hidden-content a {
	text-decoration: underline;
	color: var(--base-color)
}
.Projects_grid .project-box figure {
	border-radius: 50px;
	width: fit-content;
	padding: .5rem;
	transition: all .45s linear;
}
.Projects_grid .project-box span {
	color: var(--button-colo);
	font-size: clamp(1.1em, 2vw, 1.3rem);
	font-weight: 400;
}
.Projects_grid .project-box .text-project {
	transition: all .45s linear;
}
.Projects_grid .project-box h4 {
	font-weight: 500!important;
	padding-block: .5em;
	line-height:1.4;
	font-size: clamp(1.1em, 2vw, 1.3rem);
}
.Projects_grid .project-box figure img {
	width: 70px;
	height: 70px;
	display: flex;
}
.Projects_grid .project-box:hover:before{
	opacity: 1;
}
.Projects_grid .project-box:first-child::before {
	background: #c01729;
}
.Projects_grid .project-box:nth-child(2)::before {
	background: #108c3e;
}
.Projects_grid .project-box:nth-child(3)::before {
	background: var(--text-primery)
}
.Projects_grid .project-box:nth-child(4)::before {
	background: #1a73a7
}
.Projects_grid .project-box:nth-child(5)::before {
	background: #e97320
}
.Projects_grid .project-box:nth-child(6)::before {
	background: var(--text-secondery)
}

/*===========join volunte===r========*/
.fund{
	background-image: url(../img/bg-2.jpg);
	background-position:top center;
	background-size:cover;
	background-repeat:no-repeat;
	padding: max(5.5vw, 2rem)  max(8vw, 1.2rem);
	background-attachment: fixed;
}
.fund-text h2{
	color:var(--base-color);
}
.fund-text a{
	color:var(--base-color);
	margin-top:max(2.2vw, 1.2rem);	
}
.voluntar-log{
	background:var(--base-color);
	border-radius:5px;
	padding: max(3vw, 1rem) 1.4em;
	text-align:center;
}
.voluntar-log h4{
	font-weight:600;
	color:var(--dark-color);
	font-size:clamp(1.1rem, 1.8vw, 1.25em);
	border-bottom:1px solid var(--dark-color);
	width:fit-content;
	margin-inline:auto ;
}
.voluntar-log p{
	font-weight:400;
	margin-top:1.2em;
	opacity: .8;
	font-size:.95em
}
.voluntar-log button{
	background-color:var(--text-secondery);
	padding: .350em .90em;
	color: var(--base-color);
	margin-top: max(2vw, 1rem);
	border:none;
	font-weight:500
}
.voluntar-log button:hover
.send:hover{
	opacity: .8;
}
/*====================TEXTTINOMONAL===============*/

.Help_us_world{
	background: url(../img/h1-parallax-3.jpg) no-repeat;
	background-size:cover;
	background-position: top center;
	color:var(--dark-color);
	text-align: center;	
	background-attachment:fixed;
	padding: max(5vw, 2rem) max(1vw, .5rem);
	height: 270px;
}
.textnimonial p{
	line-height:1.4;
	font-weight:300;
	font-size:1.1em;
	color:var(--dark-color);
}
.textnimonial{
	background: linear-gradient(40deg, #dc3545 29%, #fff 29.1%);
    padding-inline: 2.5vw;
    opacity: 1;
	height: 100%;
	box-shadow: -1px 1px 25px -10px inset rgb(220 53 69);
    
}
.Help_us_world .swiper-pagination-vertical.swiper-pagination-bullets
  {
    right: 0;
    top: auto;
    transform: translate3d(0px,-50%,0);
    display: flex;
    left: 0;
    justify-content: center;
    gap: 0.5em;
    bottom: 0px;

}
.Help_us_world .swiper-pagination-bullet-active {
    background:var(--button-colo)
}




/*=======blog-section=========*/

.grid-blog .card{
    border-radius:0px!important;
    transition: .5s ease-in-out ;
} 
.grid-blog .card:hover{
    box-shadow: 0px 3px 6px #00000029;
}
.grid-blog .sub-title{
    position: absolute;
    inset: auto auto 35% 20px;
    background: var(--bs-dark-blue);
    color:var(--text-btn-color);
    padding: .4rem .7rem;
    margin-bottom: 0px;
}
.grid-blog .know-more{
    color: var(--button-colo);
    font-size: .90em;
    padding-top: 1rem;
    display: inline-block;
    font-weight: 500;
}
.grid-blog .know-more:hover{
    text-decoration: none;   
}

.contact-f-menu ul li{
	padding-block: .3rem
}

/*=======partner=grid========*/
.partner{
	background-color:#f5f5f5;
	padding: max(1vw, 1rem) max(3vw, 1rem)
}

.partner-grid{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax( max(12vw, 120px), 1fr));
	gap: max(1.5vw, .5rem)
}

.partner-grid p{
	padding: .6em max(1.5vw, 0.5rem);
	opacity: .75;
	margin-bottom:max(.8vw, .5rem)
}




/*===========footer===========*/

footer :is(
	.col-md-5,
	.col-md-4,
	.col-md-3,
	.col-lg-6,
	.col-lg-3,
	.col-md-4,
	.col-lg-5){
	margin-top:2rem
}
.news-letter input{
	padding: 1rem;
	background-color:rgba(0,0,0,.2);
	border:0px;
	width: 100%;
}
.news-letter button{
	background:var(--button-colo);
	color:var(--base-color);
	padding:1rem max(2vw, 1.5rem);
	border:none;
}
footer{
	background-image: url(../img/bg-footer.jpg);
	color:var(--base-color);
	padding-top: max(3vw, 2em);
	padding-bottom:.8rem;
	background-size:cover;	
	background-position:bottom center;
	background-repeat:no-repeat
}
.footer-bottom span{
	color:var(--text-secondery);
	font-size: .88em;
}
footer h4{
	font-weight: 500;
	font-size: clamp(1.3rem, 2vw, 1.5rem);
	margin-bottom: max(2.2vw, 1.2em);
	font-family:'Playfair Display';
	position: relative;
	padding-bottom:.5em
}
footer h4::after,
.get-in-touch h4::after{
	position: absolute;
	height: 2px;
	width: 30px;
	background:var(--text-secondery);
	bottom:0px;
	left: 0px;
	content:''
}
.footer-bottom a{
	font-size: clamp(.95em, 1.1vw, 1em);
	color:var(--base-color);
	display: block;
}
footer .f-menu ul li{
	padding-block: .3em;
	border-bottom:1px solid #dddddd61;
	padding-bottom: 1.4vw!important;
	margin-top:.3rem;
	line-height:1.2
}
.contact-f-menu ul li{
	list-style: square;
	opacity: .8;
	margin-left: 1rem;
}
.contact-f-menu ul li::marker{
	color: var(--text-secondery);
	opacity: 1!important;
}
/* .copy-right{
	display: flex;
	justify-content: space-between;
	padding:.2em 3vw;
	background: var(--dark-color);
} */







/* <svg xmlns="http://www.w3.org/2000/svg"
viewBox="0 0 513.307 513.307"><g><path d="m118.356 340.559c-3.467-2.267-8.115-1.296-10.382 2.171-2.268 3.466-1.296
 8.114 2.171 10.382 9.588 6.272 16.138 8.142 24.595 8.618v8.111c0 4.143 3.357 7.5 7.5 7.5s7.5-3.357 7.5-7.5v-8.707c16.827-3.301 26.656-17.177 28.834-30.138 2.802-16.663-5.915-31.151-22.206-36.91-2.178-.77-4.406-1.578-6.628-2.418v-36.145c6.57.862 10.664 3.5 11 3.724 3.394 2.323 8.032 1.483 10.391-1.897 2.37-3.397 1.536-8.072-1.861-10.441-.447-.312-7.898-5.388-19.529-6.45v-6.765c0-4.143-3.357-7.5-7.5-7.5s-7.5 3.357-7.5 7.5v7.803c-1.116.254-2.246.543-3.397.89-10.729 3.232-18.745 12.413-20.921 23.961-1.984 10.53 1.389 20.684 8.804 26.5 3.929 3.082 8.818 5.904 15.515 8.885v44.971c-5.789-.429-9.811-1.846-16.386-6.145zm10.126-59.515c-2.991-2.346-4.264-6.913-3.32-11.919.845-4.485 3.806-9.874 9.578-12.053v27.971c-2.355-1.277-4.485-2.609-6.258-3.999zm22.886 27.184c13.859 4.898 13.006 16.762 12.414 20.281-1.154 6.866-5.936 14.144-14.042 17.044v-37.908c.541.193 1.071.385 1.628.583z"></path><path d=" m505.807 181.185c4.143 0 7.5-3.357 7.5-7.5v-89.993c0-8.307-6.758-15.064-15.064-15.064h-65.029c-8.306 0-15.063 6.758-15.063 15.064v4.714l-103.343-3.62c-4.148-.163-7.612 3.093-7.758 7.232s3.093 7.613 7.232 7.758l103.868 3.639v95.84c-5.43.611-17.682-2.675-28.598 7.425l-53.918 49.89c-32.671 30.23-64.757 32.264-100.255 45.547-.092.029-.184.061-.274.094-6.794 2.463-14.439-.245-18.175-6.448-4.081-6.778-2.018-15.787 4.699-20.51.044-.031.088-.062.132-.095l73.305-53.965c20.083-14.197 18.783-44.443-2.484-56.85l-24.038-14.022c-10.114-5.899-22.798-6.113-33.102-.557l-37.352 20.135c-12.066-5.06-24.648-8.396-37.593-9.977l27.787-27.819c22.441-22.468 53.525-34.767 85.235-33.753l10.774.377c.09.004.179.005.268.005 4.021 0 7.349-3.188 7.49-7.237.146-4.14-3.094-7.613-7.232-7.758l-10.797-.378c-35.868-1.143-70.988 12.753-96.352 38.145l-37.342 37.383c-77.613 1.384-140.328 64.941-140.328 142.88 0 29.69 9.025 58.165 26.099 82.344 1.462 2.069 3.779 3.175 6.134 3.175 1.495 0 3.005-.446 4.319-1.374 3.384-2.39 4.189-7.069 1.801-10.453-15.278-21.636-23.353-47.117-23.353-73.692 0-73.192 61.943-132.727 136.963-127.584 40.841 2.907 78.079 25.345 99.744 60.304l-38.777 28.547c-13.07 9.243-16.959 27.001-8.85 40.468 7.406 12.298 22.531 17.672 35.995 12.862l30.649-9.8c-2.532 68.317-58.888 123.116-127.813 123.116-31.744 0-62.188-11.714-85.726-32.982-3.071-2.776-7.814-2.537-10.593.536-2.777 3.073-2.537 7.815.536 10.593 26.299 23.766 60.314 36.854 95.782 36.854 78.595 0 142.912-63.893 142.912-142.943 1.874-.821 31.827-8.088 59.999-34.155l53.918-49.89c5.516-5.104 11.547-2.912 18.41-3.435v15.455c0 8.307 6.758 15.064 15.063 15.064h65.029c8.307 0 15.064-6.758 15.064-15.064v-26.039c0-4.143-3.357-7.5-7.5-7.5s-7.5 3.357-7.5 7.5l-.064 26.104-65.093-.064.063-146.083 65.094.064v89.992c.002 4.14 3.359 7.498 7.502 7.498zm-291.339-3.074 28.091-15.144c5.738-3.093 12.797-2.974 18.426.311l24.038 14.022c11.812 6.89 12.648 23.723 1.343 31.673-.044.031-.088.062-.132.095l-22.418 16.504c-12.53-19.842-29.568-36.014-49.348-47.461z"></path></g></svg> */



 /*=========blog==============*/

 .news-grid,
 .Volunteers{
	 display: grid;
	 grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
 }
 .news-card .card-body {
	 padding-block:max(2.1vw, 1rem);
	 padding-inline:max(1.4vw, 1rem)
 }
 .news-card .card-body > h5{
	 font-size:1.4em;
	 color:var(--dark-color); 
	 margin-block:.7em;
 }
 .news-card .card-body a:hover,
 .news-card span a{
	 color:var(--button-colo)
 }
 .news-card .card-body p,
 .about-f-menu p{
	font-size:.82em!important;
	line-height: 1.5;		
}
.news-card .card-body p{
	color:#8d8989;
	height:max(4vw, 97px);
	overflow-y:hidden
}
.news-card span,
.published{
	font-size:13px;
	color:#8d8989;
	display: inline-block;
}

/*=======contact-us===============*/
.contact_us_top,
.about-us-top{
	background-image:url(../img/ngo_banner_second.jpg);
	background-position:center top;
	background-size:cover;
	min-height:295px;
	color:var(--base-color);
	background-repeat:no-repeat;
	display: flex;
    justify-content: center;
    align-items: end;
	padding-block:2vw
}
.about-us-top{
	background-image:url(../img/abour_us_top.jpg);
}
.content p:first-child{
	font-size:1.3em;
	line-height:1.5;
	opacity: .9;
	padding-bottom: 2.4vw
}
.content p:nth-child(2),{
	line-height:1.4;
	text-align:justify;
	font-size:clamp(.88rem, 1.5vw, 1rem)
}
.breadcrumb-item.active{
	color:var(--base-color);
	font-weight:500;
	font-size:1.1em!important;
	border-bottom:2px solid var(--base-color)
}
.breadcrumb-item{
	font-size:1em;
	font-weight:500;
	color:var(--button-colo);
}
.get-in-touch-in{
	border-left:1px solid #f5f5f5
}
.get-in-touch h4::after{
	background:var(--button-colo)!important
}
.get-in-touch h4{
	position: relative;
	padding-block: .8rem;
	margin-top: max(2.5vw, 1rem);
	margin-bottom:1rem;
	font-size:1.3em;
	font-weight:500
}
.get-form :is(input, textarea){
	box-shadow: inset 0 1px 2px rgb(10 10 10 / 10%);
	transition: box-shadow .5s,border-color .25s ease-in-out,-webkit-box-shadow .5s;
	appearance: none;
	border-radius:50px;
	padding:.8rem;
}
.get-form .form-control:focus{
	box-shadow: 0 0 5px #cacaca;
}
.get-form .form-group{
	margin-block:max(2vw, 1rem)
}
.get-form label{
	color: #75737f;
    font-size: 1em;
    padding-left: 1em;
    color: var(--button-colo);
}

.send,
.submit{
	background-color:var(--button-colo);
	color:var(--base-color)
}
.get-in-touch ul li a{
	border-radius:50px;
	color: var(--button-colo);
	display: inline-flex;
	align-items:center;
	justify-content:center;
	gap: 1rem;
	font-size: clamp(1.5em, 3vw, 2.2em);
	border:1px solid var(--base-color);
	padding:.3em .5rem
}
.get-in-touch ul li a:hover{
	opacity: .8
}


.Volunteers-content figure img{
	min-height:220px;
	object-fit:cover
}
.Volunteers-content{
	text-align:center
}

.impact-grid{
	display: grid;
	grid-template-columns:repeat(auto-fit, minmax(  max(20rem, 260px), 1fr));
}
.impact-grid .impct-box{
	position: relative;
	transition: all 0.4s;
    -webkit-transition: all 0.4s;
	overflow:hidden
}
.impact-grid .impct-box:hover img{
  	transform:scale(1.1); 
}
.impact-grid .inner-text::before{
	content: "";
    position: absolute;
    left: 20px;
	right: 20px;
    bottom: 0;
    opacity: 0.9;
    z-index: -1;
    height: 100%;
}
.impact-grid .impct-box:hover .inner-text{
	padding-block: clamp(10vw, 6rem, 2.2em);
}
.impact-grid .impct-box:hover .hiden-text{
	transform:translateY(0%);
} 
.impact-grid .hiden-text{
	transform:translateY(150%);
	display: block;
	padding-top:max(4vw, 2rem);
	text-decoration:underline
}
.impact-grid .hiden-text:hover{
	text-decoration:none;
	color:var(--dark-color)
}
.impact-grid .inner-text.in_1::before{
	background-color:var(--text-secondery)
}
.impact-grid .inner-text.in_2::before{
	background-color: #007f7a;
}
.impact-grid .inner-text.in_3::before{
	background-color:var(--button-colo)
}
.impact-grid .inner-text h2{
	font-size:clamp(2rem, 3.2vw, 3.2em)
}
.impact-grid .inner-text{
	z-index: 1;
    padding: 4rem 1.25rem .5rem;
    bottom: 40px;
	left: 00px;
	right: 00px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
	position: absolute;
	text-align:center;
	color:var(--base-color);
	overflow: hidden;
}

.Sign_up_form .sign-up-fill label{
	font-size:.80em;
	color:var(--button-colo);
	margin-bottom:.2rem;
	font-weight:500
}
.Sign_up_form .sign-up-fill {
	margin-bottom:1rem;
}
.Sign_up_form .sign-up-fill .form-control {
	border-radius:20px!important;
	padding:.6rem .8rem
}
.Sign_up_form .sign-up-fill .form-control:focus,
.Sign_up_form .sign-up-fill .form-control:target{
	border:1px solid var(--button-colo);
	box-shadow:none
}
.need-it p,
.need-it ul li,
.Volunteer-form .row form p{
	font-size:clamp(.88em, 1vw, 1rem);
	color:#666666;
	line-height: max(2.280vw, 1.4em);
	margin-bottom:max(1.5vw, 1.2rem);
	font-weight:400
}

.communtiy{
	background-image:url(../img/ngo_banner_second.jpg);
	background-position:center top;
	background-size:cover;
	min-height:295px;
	color:var(--base-color);
	background-repeat:no-repeat;
	display: flex;
    justify-content: center;
    align-items: end;
	padding-block: 2vw;
	background-attachment:fixed
}
.our_Community-grid{
	display: grid;
	grid-template-columns:repeat(auto-fit, minmax(20vw, 1fr));
	padding: block 2reml;
	gap:1rem
}
.our_community_text{
	position: relative;		
}
.our-overlay-text{
  	position: absolute;
    justify-content: center;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    flex-flow: column;
    display: flex;
    color: #dc3545;
    transition:all .7s ease-in-out 0s;
    background: bisque
}

.overlay-hidden{
	position: absolute;
	justify-content:center;
	-webkit-justify-content:center;
	-webkit-align-items:center;
	align-items:center;
	flex-flow:column;
	display:flex;
	color:var(--base-color);
	transition:all .7s ease-in-out .1s;
	background:var(--text-primery)
}
.our-overlay-text:hover{
	    transform: rotateX(180deg);
		
}
.invoved-about .frist-involved{
	background:transparent!important;
	text-align:center;
	color:var(--dark-color);
	align-items:center;
	transition: all  .5s ease-in-out
}
.invoved-about .frist-involved:hover :is(p, a){
 	color:var(--base-color);
	
}
.invoved-about .frist-involved a{
	color:var(--dark-color);
	padding-top:.8rem;
}

#donate{
	overflow-x:hidden;
	height: 100vh;
	width: 100vw;
	padding-right: 0px!important

}
#donate .model-open{
	
	padding-right: 0px!important

}
#donate .col-md-8{
 background-color:#f6f6f6;
 padding:1rem;
 border:2px solid white;

}
#donate form input{
	box-shadow:none;
	border-radius:0px;
	border:none;
	margin-bottom:max(1.1vw, 1rem);
	padding-block:.8em;
	font: .90em sans-serif;
}
.doonate-heading ul li{
	display: flex;
	justify-content:space-evenly;
	flex-wrap:wrap;
	padding-bottom:max(2vw, 1.2rem);
	
}
#option li a{
	padding: max(0.1em, 0.4rem) max(0.5rem, 0.1rem);
    color: var(--base-color)!important;
    background-color: var(--text-primery);
    width: max(12vw, 8em);
	text-align:center;
	margin-top:1em
}
#option li  a:hover,
#option li a.active,
#option li a:focus{
	background-color:var(--dark-color)
}
.d-form-amount ul li a img{
	width: max(3vw, 3em);
	background-color:transparent;
	border:1px solid var(--dark-color);
	color:var(--dark-color)!important;
	font-weight:500;
	padding: .5rem;
	aspect-ratio:1 / 1

}
.d-form-amount ul li a:hover,
.d-form-amount ul li a:focus,
.d-form-amount ul li a.active{
	background-color:var(--base-color)
}

.number{
	padding:1rem 1.5vw;
}
.number ul li{
	padding-block:3.2vw;
	border-bottom:1px solid #f5f5f5;
	text-align:center;
}
.number ul li h2{
	font-size:3rem;
	font-weight:700;
	font-family:'Poppins'
}
.button-close{
	position: absolute;
    right: min(-10px, -20px);
    left: auto;
    top: -10px;
    z-index: 1;
    background: var(--dark-color);
    color: var(--base-color);
    border-radius: 50px;
    border: none;
    font-size: 1.2em;
}
#change-amount{
	width:fit-content;

}
.donate-f-btn,
.donate-_2 {
	padding:.5rem 2rem;
	margin-top:2rem
}


                                                        

